<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div class="w-full">
            <%- include('partials/header') %>
            <div class="flex justify-center ">
                <div class="main-container">
                    <div class="w-full px-6">
                        <p class="title"><%= manga.title %></p>
                        <p class="subtitle"><%= manga.alt_title %></p>
                        <p class="description"><%= manga.author.join(', ') %></p>
                    </div>
                    <div class="w-full flex justify-center py-6">
                        <img class="w-96" src="<%= manga.img %>" alt="<%= manga.title %>" />
                    </div>
                    <div class="w-full px-6 py-6">
                        <p class="description"><%= manga.description %></p>
                    </div>
                    <%- include('partials/tableContent', {content: content}) %>
                </div>

            </div>
        </div>
    </body>
</html>